body{
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
 text-align: center;
}


/*--------- NAVBAR -------------*/
.navbar-container{
  width: 100vw;
  background-color: #F7F7F7;
  letter-spacing: 3.5px;
 position: fixed;
 z-index: 4;

}
.logo{
  text-shadow: 0px 3px 6px grey;
  border: 2px solid black;
  padding: 0.2em;
  font-weight: 540;
  cursor: pointer;
  float: left;
 
}
.resort{
  color:#AF9A7D;
}
.container{
  max-width: 1200px;

  width:90%;
  margin: auto;
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  height: 10vh;
 
}
.menu a,.small-screen-menu a{
 
  text-decoration: none;
  color:#222222;
  padding: 0 1em;
  font-weight: 900;
  transition: color 1s;
  
}


.menu a:hover,.small-screen-menu a:hover{
  color: #AF9A7D;
}

.menu-icon{
  
 font-size: 2rem;
  display: none;
  color:#AF9A7D;
  cursor: pointer;


}
.small-screen-menu-parent{
  position: fixed;
  top:10vh;
  width: 100vw;
  transition: transform 0.5s linear;
  
z-index: 3;
}

.small-screen-menu{
  
  display: flex;
  flex-direction: column;
  gap:2rem;
  background-color: #F7F7F7;
  position: relative;
  top:0;
  left: 0;
padding: 1em;;

 }
 
 .hide-sidebar{

  transform: translateY(-100%);
}

.show-sidebar {
  transform: translateY(0);
  }


@media (max-width:700px){
  .menu{
    display: none;
  }

  .menu-icon{
    display: block;
    align-self: center;
   
  }

}
@media (min-width:801px){
  .small-screen-menu{
    display: none;
  }
}


/*--------- BANNER -------------*/
.banner{
  width: 100vw;
 
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(./images/defaultBcg.jpeg);
  background-repeat: no-repeat;
  background-position:center;
background-size:cover;
height: 100vh ;
color:white;
letter-spacing: 3.5px;
text-align: center;

}
.banner-content{
  background: rgba(0,0,0,0.5);
  max-width: 800px;
  width: 90%;
  padding: 2em 1em ;
  height: auto;
 

}
.banner-content h1{
font-size: 2.5rem;
margin:0;
margin-bottom: 0.3em;

}

@media (min-width:800px){
  .banner-content h1{
    font-size: 4rem;
  }
}
hr{
  border: 3px solid #AF9A7D;
  width: 150px;
 
}
.banner-content>p{
  font-size: 1.3rem;
  padding: 0.3em;
}
.banner-btn{
  background-color: #AF9A7D;
  color:black;
  letter-spacing: 3.5px;
  outline: none;
  border: none;
  padding: 1em;
  font-weight: 550;
  text-transform: uppercase;
  cursor: pointer;
  border :2.5px solid #AF9A7D;
  transition: background-color 1s,color 1s;
}

.banner-btn:hover{
  border :2.5px solid #AF9A7D;
  color: #AF9A7D;
  background-color: transparent;
}

/*--------- SERVICES -------------*/

.services-container{
  background-color: #CFCFCF;
  padding: 2em 0;
  padding-top: 4em;
}
.services-container h1{
  margin:0;
  font-size: 2.5rem;
}
.section-title{
  color:#222222;


}
.section-hr{
  border :3px solid #AF9A7D;
  max-width: 70px;
}
.services-div{
  max-width: 1200px;
  width: 90%;
 letter-spacing: 2px;
  margin:auto;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  grid-column-gap: 20px;
  grid-row-gap: 50px;
  justify-content: space-between;
margin-top: 4em;
 margin-bottom: 3em;
}
.services-div p{
  
  font-size: 0.9rem;
 
  margin:auto;
 }
 .icon{
  
  font-size: 2.5rem;
  color: #AF9A7D;
 }
 /*--------- FEATURED ROOMS -------------*/
 .featured-rooms-container{
  padding: 2em 0;
  padding-top: 4em;
 }
 .featured-rooms-grid{
  max-width: 1200px;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
  margin:auto;
  grid-column-gap: 50px ;
  grid-row-gap: 50px ;
  margin-top: 4em;
 margin-bottom: 3em;
 }
 .featured-room{
   height: auto;
   width: 100%;
 }
 .grid-imgs{
   height: auto;
   width: 100%;
   object-fit: cover;
 }
 .room-img-grid{
   display: grid;
   grid-template-rows: auto auto auto;
   grid-template-columns: 30% 70%;
   background-color: #CFCFCF;
   box-shadow: 2px 7px 4px  #808080;
   transition: box-shadow 0.3s linear ;
 }

 .room-img-grid:hover{
  transform: scale(1);
  box-shadow: 6px 10px 5px  #808080;
 }

 .room-price{
   grid-row: 1/2;
   grid-column: 1/2;
   z-index:  2;
   background: rgba(0,0,0,0.7) ;
   align-self: flex-start;
   color: white;
   margin: 0;
   font-weight: 600;
   padding: 0.5em ;
   align-self:flex-start ;
   justify-self: flex-start;
   border-bottom-right-radius: 20% ;
    transition: opacity 0.5s linear ;
 }
 .room-price span{
   display: block;
   font-size: 0.6rem;
 }
 .room-title{
   grid-row: 3/4;
   grid-column: 1/-1;
   text-transform:capitalize ;
   margin:0;
   padding: 0.5em 0;
   letter-spacing: 3.5px;
 }

 .featured-room-flex-height{
   height: 200px;
 
 }

 


/*--------- ROOM BANNER-------------*/

.room-banner{
  width: 100vw;
 
  display: flex;
  justify-content: center;
  align-items: center;
 
  background-repeat: no-repeat;
  background-position:center;
background-size:cover;
height: 70vh ;
color:white;
letter-spacing: 3.5px;
text-align: center;
text-transform: capitalize;

}
.room-banner button{
  margin: 1em;
  
}
/*--------- FILTER-------------*/
.filter-bg{
  background-color: white;
}
.main-container{

  max-width: 1200px;
  width: 90%;
  display: grid;
  margin:auto;
  grid-column-gap: 50px ;
  grid-row-gap: 50px ;
  text-align: left;
}
.filter-grid{
  grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
  grid-column-gap: 20px ;
  margin-top: 3em;
}
.filter-flex{
  display: flex;
  flex-direction: column;
  gap:0.5em;
}
.checkbox-flex{
  display: flex;
  margin:0 ;
}
label{
  letter-spacing: 3px;
}
input[type="number"]{
  width:40%;
  margin: 2px ;
}
/*--------- ALL ROOMS GRID-------------*/
.all-rooms-container{

  max-width: 1200px;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
  margin:auto;
  grid-column-gap: 50px ;
  grid-row-gap: 50px ;
  margin-top: 4em;
 margin-bottom: 3em;

}

.no-rooms-txt{
  max-width: 1200px;
  width: 90%;
  margin:auto;
  margin-top: 3em;
  margin-bottom: 3em;
}
.room-flex{
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  z-index:  1;
  grid-row: 1/3;
  grid-column: 1/-1;
 
}

.dark-bg::after{
  content: "";
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: rgba(0,0,0,0.5) ;
}

.features-btn{
  text-transform: uppercase;
  background-color: #AF9A7D;
  padding: 0.8em;
  letter-spacing: 2px;
  font-weight: 0;
  display: none;
  z-index: 2;
  border :2.5px solid #AF9A7D;
 font-weight: 530;
  transition: all 1s;
  color:#222222;
  text-decoration: none;
 
}
.features-btn:hover{
  border :2.5px solid #AF9A7D;
  color: #AF9A7D;
  background-color: transparent;
  
}
.all-room-flex-height{
  height: 150px;
}
@media (max-width:650px){
  .all-room-flex-height{
    height: 200px;
  }
}


/*--------- ROOM DETAILS-------------*/
.room-details{
  text-align: left;
}



.other-imgs{

  grid-template-columns: repeat(auto-fit,minmax(300px,1fr)) ;
  
 
  margin-top: 4em;
  margin-bottom: 3em;
  
}
.other-imgs-div{
  width: 100%;
  height: auto;
}
.other-imgs-div img{
  width: 100%;
  height: auto;
  object-fit: cover;
}
.details-div{
 
  margin-top: 4em;
  margin-bottom: 3em;
  grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
 

}
.info{
  letter-spacing: 3px;
 
  line-height: 1.5em  ;
}
.extras{
 
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
  
  margin-bottom: 3em;
  grid-row-gap: 0 ;


}


